<section class="products-index">

  <header class="page-header">
    <h1>Products</h1>
  </header>
  <% if active_sale? %>
    <p class="alert alert-info text-center">
      There's an active <%= "Back To School"  %> sale going on! 
      Everything is <%= "15" %>% off!
  <% end %>

  <div class="products">
    <%= render @products %>
  </div>

</section>
